.MobileClient
{
  padding: 2px 0;
  display: flex;
  align-items: center;
}

.MobileClientBalance
{
  width: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.MobileClientFio
{
  display: inline-flex;
  width: 300px;
  padding-right: 20px;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.MobileClientFioForm {
  display: inline-flex;
}

.MobileClientFioForm input {
  width: 30%;
}

.MobileClientFioContainer {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.MobileClientActions {
  display: inline-block;
  margin-left: 20px;
}

.MobileClientActions button {
  margin: 0 5px;
}

.MobileClientStatus {
  display: inline-block;
  margin-left: 25px;
  width: 50px;
}

.MobileClientStatusActive {
  color: green;
}

.MobileClientStatusBlocked {
  color: red;
}

.MobileClientId {
  display: inline-block;
  margin-top: -6px;
  margin-right: 10px;
}